.login {
    background-color: var(--clr2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 70vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-content: center;
    flex-wrap: wrap;
}

.login-form-container label {
    font-weight: bold;
}

.login-form-container input {
    border-radius: 8px;
}

.login-form-btn {
    width: 15vw;
    padding: 2vw 4vh;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--clr4);
    color: #110202;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    height: 4vh;
    flex-direction: column;
    align-items: center;
}

.login-form-btn:hover {
    background-color: var(--clr1);
    color: var(--clr5);
}

.login-form-input {
    width: 50%;
    height: 20px;
}

label {
    display: flex;
    height: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    font-size: 20px;
    margin-bottom: 8px;
}

.img-logo{
    display: flex;
    align-items: center;
    width: 40%;
}

img {
    border-radius: 50%;
}